/* This bit is for css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Below is where the style begins */

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsl(0, 100%, 74%) ;
    background-image: url("images/bg-intro-mobile.png");
}

html {
    font-family: 'Poppins', sans-serif;
}

#card {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin: 5% auto;
	width: 300px;
	height: 1000px;
}

#learn-part {
	text-align: center;
}

#learn {
	font-size: 23px;
	font-weight: 700;
	word-spacing: 7px;
	color: white;
}

#see {
	margin-top: 5px;
	font-size: 14px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
	margin-bottom: 15px;
	color: rgb(212, 237, 237);
}

#input-part {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#try {
	font-size: 15px;
	font-weight: 500;
	width: 200px;
	line-height: 20px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: hsl(248, 32%, 49%);
	padding: 20px 40px;
	border-radius: 10px;
	color: rgb(212, 237, 237);
	box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

#days {
	color: white;
}

#inputs {
	border-radius: 10px;
	padding: 15px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input {
	padding: 10px 60px 10px 10px;
	margin-top: 20px;
	font-weight: 500;
	border-width: thin;
	border-color: rgba(201, 201, 201, 0.7);
	border-radius: 5px;
}

.warning {
	display: none;
	text-align: right;
	margin-top: 5px;
	margin-right: 15px;
	font-size: 9px;
	font-weight: 500;
	color: hsl(0, 100%, 74%);
}


#claim {
	position: relative;
	font-size: 15px;
	font-weight: 600;
	color: white;
	padding: 15px 30px;
	border: none;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: hsl(154, 59%, 51%);
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

#claim:hover {
	cursor: pointer;
	top: -2px;
}

#clicking {
	margin: auto;
	width: 200px;
	font-size: 10px;
	color: rgb(165, 208, 208);
}

#terms {
	color: hsl(154, 59%, 51%);
}


@media(min-width: 500px) {
	body {
		background-image: url("images/bg-intro-desktop.png");
	}
	
	#card {
		flex-direction: row;
		width: 1000px;
		height: 500px;
		margin: 10% 15%;
	}

	#learn-part {
		width: 600px;
		text-align: left;
	}

	#learn {
		font-size: 35px;
	}

	#see {
		font-size: 16px;
		margin-top: 20px;
	}

	#input-part {
		width: 500px;
		margin-left: 100px;
	}

	#try {
		font-size: 14px;
		width: 400px;
		padding: 12px 30px;
	}

	.input {
		padding: 10px 250px 10px 10px
	}

	.warning {
		font-size: 11px;
	}

	#claim {
		width: 425px;
		padding: 10px 10px 10px 10px;
	}

	#clicking {
		font-size: 11px;
		width: 425px;
	}
}